.btn{
    
    margin-top: 15px;
    width:105px;
    height:25px;
   border: none;
    border-radius: 15px;
    background-color: #73d6ba;

}
.btn:hover{
    width:110px;
    height:27px;
    box-shadow: 2px;

}
