* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Include padding and border in element's total width and height */
}

.container {
    height: 40px;
    background-color: black;
    display: flex;
    justify-content: space-between; /* Distribute space between logo and links */
    align-items: center; /* Vertically center the items */
    padding: 10px; /* Add some padding for better spacing */
}

img {
    height: 40px;
}

.links {
    list-style: none;
    display: flex;
    margin-left: 15px;
    /* Align links verti  cally on small screens */
    align-items: flex-end; /* Align links to the right on small screens */
}

.ul {
    margin-top: 5px; /* Adjust margin for better spacing */
}

.li {
    color: white;
    text-decoration: none;
    margin-bottom: 5px;
    margin-left: 15px; 
    margin-right: 8px;/* Add margin between links for better spacing */
}

@media screen and (max-width: 650px) {
    .container {
        width: 100vh;
    }
}
@media screen and (max-width: 583px) {
    .container {
        width: 100vh;
    }
}
